<header class="header">
  <div class="search-box">
    <span class="material-symbols-outlined"> search </span>

    <input type="text" placeholder="Search employees..." />
  </div>

  <div class="header-actions">
    <button class="icon-button">
      <span class="material-symbols-outlined"> notifications </span>

      <span class="notification-dot"></span>
    </button>

    <button class="language">العربية</button>

    <button class="icon-button">
      <span class="material-symbols-outlined"> public </span>
    </button>
  </div>
</header>
